body {
    height: 100vh;
    width: 100vw;
}

.player1Indicator {
    height: 15%;
    width: 15%;
    display: inline-block;
    font-size: 2rem;
}

.player2Indicator {
    height: 15%;
    width: 15%;
    display: inline-block;
    font-size: 2rem;
}

.player1Inputs {
    height: 15%;
    width: 15%;
    display: inline-block;
    font-size: 2rem;
}

.player2Inputs {
    height: 15%;
    width: 15%;
    display: inline-block;
    font-size: 2rem;
}
